<html lang="en">
<%- include("./partials/head.ejs") %>
<div class="header">
  <%- include("./partials/nav.ejs") %>
</div>
<body>
  <style>
    body {
      max-width: 2500px;
      margin: 0px auto;
      padding: 0px;
      font-family: 'Noto Serif', serif;
      background-color: #0dcf9b;
    }
    .header {
      background-color: #823636;
      max-height: 100px;
      color: #fff;
      padding: 20px;
      text-align: center;
      border-bottom: 4mm ridge rgba(125, 50, 39, 0.6);
    }
  </style>
  <div class="create-blog content">
    <form action="/blogs" method="post">
      <label for="title">Blog title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Blog snippet:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Blog body:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>